body,html {
	margin: 0px;
	}

body {
	font-family: Arial, Verdana;
	}
	
form {
	padding: 0% 2% 0% 2%;
	border-left:1px solid #93A0A1;
	border-right:1px solid #93A0A1;
}

.div-examen {
	width:70%;
	padding-left:15%;
	padding-right:15%;
	padding-top:2%;
	background-color:#B4F4FC;
	}
	
.div-examen h3 {
	padding-bottom:1%;
	text-align:center;
}
	
#logo {
	width:10%;
	height:10%;
	margin:2%;
	float:left;
	margin-top:0px;
	}
	
#logo img {
	width:100%;
	height:100%;
}

.div-cabecera {
	width:70%;
	height:10%;
	background-color:#4993FA;
	margin-top:2%;
	margin-bottom:5%;
	color: white;
	text-align: center;  
}
