body,html {
	margin: 0px;
	}

body {
	font-family: Arial, Verdana;
	}

.div-examen {
	width:70%;
	padding-left:15%;
	padding-right:15%;
	background-color:#B4F4FC;
	}
	
#logo {
	width:10%;
	height:10%;
	margin:2%;
	float:left;
	margin-top:0px;
	}
	
#logo img {
	width:100%;
	height:100%;
}

.div-cabecera {
	width:70%;
	height:10%;
	background-color:#4993FA;
	margin-top:2%;
	margin-bottom:5%;
	color: white;
	text-align: center;  
}

/* body,html{margin:0px} */

/* body,input,select,label{font-size:2vw} */
/* h3{font-size:3vw} */
/* input,select{width:50%} */
/* input[type=checkbox]{width:5%;zoom:1.5} */
/* form{background-color:aliceblue;padding:3%} */
