body {
	font-family: Arial, Verdana;
	width:96%;
	padding-left:2%;
	padding-right:2%
	}

body,html {
	height: 100%;
	margin: 0px;
	}


form {
	padding: 2%;
	background-color: #B4F4FC;
	}

.div-cabecera {
	width:100%;
	height:15%;
	background-color:white;
	color: #1D646A;
}

#logo {
	width:10%;
	min-width:100px;
	height:10%;
	display:inline-block;
	float:right;
	margin:auto;
}
	
#logo img {
	width:100%;
	height:100%;
}
	
/* body,input,select,label{font-size:5vw} */
/* h3{font-size:7vw} */
/* input,select{width:80%} */
/* input[type=checkbox]{width:5%;zoom:1.5} */
/* form{background-color:aliceblue;padding:1%}  */
